<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boram.section01.dynamic.HjDynamicSqlMapper">
    <resultMap id="categoryResultMap" type="HjDTO" >
        <id property="ref" column="REF_CATEGORY_CODE" />
        <result property="name" column="CATEGORY_NAME" />
        <result property="code" column="CATEGORY_CODE" />
    </resultMap>


    <select id="searchByCategory" parameterType="com.boram.common.HjSearchCriteria" resultMap="categoryResultMap">
        SELECT
            *
        FROM
            TBL_CATEGORY

        <if test="1">
            #{inputNo}
        </if>
        <if test="3">
            #{inputNo}
        </if>
        <if test="2">
            #{inputNo}
        </if>
        ORDER BY REF_CATEGORY_CODE
    </select>

</mapper>